version: 2.1

orbs:
  slack: circleci/slack@3.4.2
parameters:
  suite:
    type: string
    default: regression
  username:
    type: string
    default: $USERNAME
  password:
    type: string
    default: $PASSWORD

jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk-browsers

    working_directory: ~/api-automation-greencity

    environment:
      MAVEN_OPTS: -Xmx4200m -Xms1024m

    steps:
      - checkout
      - restore_cache:
          keys:
            - $CIRCLE_PROJECT_REPONAME-{{ checksum "pom.xml" }}
            - $CIRCLE_PROJECT_REPONAME-
      - run: mvn dependency:go-offline compile compiler:testCompile
      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}
      - run:
          name: Build
          command: mvn -B -DskipTests clean package
      - run:
          name: Test running
          command: mvn
            -Dsuite=<< pipeline.parameters.suite >>
            -Dusername=<< pipeline.parameters.username >>
            -Dpassword=<< pipeline.parameters.password >>
            clean verify site
      - run:
          name: Make history dir for allure
          command: mkdir target/allure-results/history
          when: always
      - run:
          name: Get previous artifact links
          command: curl https://circleci.com/api/v1.1/project/github/$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME/$CIRCLE_PREVIOUS_BUILD_NUM/artifacts?circle-token=$token | grep -o 'https:\/\/[^"]*Allure\/history\/.*\.json' > artifacts.txt || true
          when: always
      - run: cat artifacts.txt
      - run:
          name: Download history artfacts
          command: <artifacts.txt xargs -P4 -I % wget %?circle-token=$token
          when: always
      - run:
          name: Rename and copy history artifacts to allure-result
          command: |
            mv history.json?circle-token=$tokens history.json && mv history-trend.json?circle-token=$token history-trend.json || true
            cp history.json target/allure-results/history/ && cp history-trend.json target/allure-results/history/ || true
            mv categories-trend.json?circle-token=$token categories-trend.json && mv duration-trend.json?circle-token=$token duration-trend.json || true
            cp categories-trend.json target/allure-results/history/ && cp duration-trend.json target/allure-results/history/ || true
            mv retry-trend.json?circle-token=$token retry-trend.json || true
            cp retry-trend.json target/allure-results/history/ || true
          when: always

      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/target/surefire-reports/junitreports/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always

      - store_test_results:
          path: ~/test-results

      - store_artifacts:
          path: ~/test-results/junit

      - run:
          name: Generate Allure report
          command: mvn allure:report
          when: always
      - store_artifacts:
          path: target/site/allure-maven-plugin
          destination: Allure
      - when:
          condition: << pipeline.parameters.slackNotify >>
          steps:
            - slack/status:
                channel: $SLACK_CHANNEL
                fail_only: false
                only_for_branches: master
                webhook: $SLACK_WEBHOOK

workflows:
  version: 2

  commit-workflow:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
                - ci/cd

  schedule-workflow:
    triggers:
      - schedule:
          cron: "0 3 * * 1,4"
          filters:
            branches:
              only:
                - master
    jobs:
      - build
